/* @import "~antd/dist/antd.css"; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00008b;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.startModal {
  margin-top: -10vh;
}

.footer {
  background-color: #00008b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  /* border-top: 1px solid #010158; */

  flex-direction: row;
}

.footer a {
  margin: 8px;
  color: white;
  text-decoration: none;
}
.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
  cursor: pointer;
}

.footer a:visited {
  color: white;
  text-decoration: none;
}

.title {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: -5vh;
  margin-bottom: 5vh;
  /* font-family: "Brush Script MT", cursive; */
  font-weight: lighter;
}

.subtitle {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: -5vh;
  margin-bottom: 5vh;
  font-size: calc(8px + 2vmin);
  /* font-family: "Brush Script MT", cursive; */
  font-weight: lighter;
}

.space {
  font-weight: bolder;
  margin-bottom: 10pt;
  margin-top: 10pt;
}

.App-header textarea {
  margin-top: 0;
  color: #00008b;
  font-weight: lighter;
  font-size: 1.5em;
  width: 10em;
  height: 1.5em;
  align-items: center;
  resize: none;
  text-align: center;
}

.result {
  /* font-size: 1.5em;
  width: 10em; */
  flex-direction: row;
  /* height: 1.5em;
  font-weight: lighter;
  font-size: 1.5em;
  width: 10em;
  height: 1.5em;
  align-items: center;
  resize: none;
  text-align: center; */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
